$body_font:'Roboto', sans-serif;
$white-background:white;
$divider: orange;
$font-black: black;
$navbar-font:#5e5e5e;
$font-white: white;
$clients-images:40%;
$background-image-city:url("../img/img_city.jpg");
$blue-font: #3c4858;
$text-color:#999;
$fuchia: #e91e63; 

